@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Pre:wght@400..700&family=Playwrite+CU:wght@100..400&family=Rubik+Vinyl&display=swap');

* {
    font-family: "Edu AU VIC WA NT Pre", cursive;
}



.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 95%;
}

.hex-colors {
    text-align: center;
}

.hex-colors h1 {
    font-size: 2rem;
    text-transform: uppercase;
    animation: colorChnage 5s infinite alternate;
    line-height: 50px;
}

.hex-colors h2 {
    margin-top: 15%;
    font-size: 2rem;
    line-height: 50px;
}

@keyframes colorChnage {
    0% {
        color: rgb(98, 0, 190);
    }
    20% {
        color: rgb(189, 240, 6);
    }
    40% {
        color: rgb(160, 73, 2);
    }
    60% {
        color: rgb(1, 172, 157);
    }
    80% {
        color: rgb(9, 175, 73);
    }
    100% {
        color: rgb(124, 4, 108);
    }
}


@media(max-width: 480px){
    .hex-colors h1 {
        font-size: 1.5rem;
    }

    .hex-colors h2 {
        font-size: 1.5rem;
    }
}

@media(max-width: 320px){
    .hex-colors h1 {
        font-size: 1.2rem;
    }

    .hex-colors h2 {
        font-size: 1.2rem;
    }
}

@media(max-width: 240px){
    .hex-colors h1 {
        font-size: 1rem;
    }

    .hex-colors h2 {
        font-size: 1rem;
    }
}